@import "bootstrap/scss/bootstrap";

.my-bg{
    background-color: #ff385c;
    opacity:0.8;
    color: white;
}

/**************** set Scroll bar style  *************/
/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ccc; 
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #999; 
}
